

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">Dialogflow chat bot demo with applozic and kommunicate UI.</p>
</div>
<div class="row">
    <div class="col-md-4">
        Applozic
    </div>
</div>

<script type="text/javascript">
    (function (d, m) {
        var s, h;
        s = document.createElement("script");
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://apps.applozic.com/sidebox.app";
        h = document.getElementsByTagName('head')[0];
        h.appendChild(s);
        window.applozic = m;
        m.init = function (t) { m._globals = t; }
    })(document, window.applozic || {});
</script>
